.dashboard-container {

    width: 100%;
    box-sizing: border-box;
    padding: 50px 100px;

}

.dashboard-container .name {

    font-size: 48px;
    font-family: 'Aptos Narrow', sans-serif;
    color: #282A37;

}

.dashboard-container .subname {

    font-size: 20px;
    color: #282A37;
    padding-top: 10px;

}

.dashboard-container .shops {

    margin: 20px 0;

}

.dashboard-container .shops .shop {

    background: #F7F8FC;
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    display: flex;

}

.dashboard-container .shops .shop img {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;

}

.dashboard-container .create-new-shop {
    color: #282A37;
    font-size: 20px;
}